

<h2><%= @restaurant.name %></h2>
<li><strong>Address:</strong> <%= @restaurant.address %></li>
<li><strong>Phone Number:</strong> <%= @restaurant.phone_number %></li>
<li><strong>Category:</strong> <%= @restaurant.category.capitalize %></li>
Reviews:
<% @restaurant.reviews.each do |review|%>
<li><i><%= review.content %></i></li>
Rating: <strong><%= review.rating %></strong>
<% end  %>

<li><%=link_to 'Add a new review', new_restaurant_review_path(@restaurant)%></li>
